.question {
    margin-top: 10px;
    background-color: #9B59B6;
    color: white;
    padding: 20px;
    flex: auto;
    text-emphasis: none;;
}
.wrongAnswer {
    margin-top: 10px;
    background-color: rgb(247, 7, 7);
    color: white;
    padding: 20px;
    flex: auto;
    text-emphasis: none;;
}
.answers{
    margin-top: 40px;  
}
.answers ul{
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.options {
  background-color: #fff;
  border: 2px solid #9B59B6;
  min-height: 30px;
  margin-top: 10Px;
  margin-right: 10px;
  width: 45%;
  display: flex;
  margin-bottom: 10px;
  transition: color .3s ease, border-color .3s ease, transform .3s ease;
  cursor: pointer;
}
.options span {
  background-color: #9B59B6;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  flex: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
}

.options p {
  color: #9B59B6;
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  flex: calc(100% - 75px);
  margin: auto 20px;
  transition: color .3s ease;
}

.correctOption{
  background-color: #fff;
  border: 2px solid rgb(7, 247, 55);
  min-height: 30px;
  margin-right: 10px;
  margin-top: 10Px;
  width: 45%;
  display: flex;
  margin-bottom: 10px;
  transition: color .3s ease, border-color .3s ease, transform .3s ease;
  cursor: pointer;
}
.correctOption span {
  background-color: rgb(7, 247, 55);
  color: #fff;
  padding: 10px;
  font-size: 20px;
  flex: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
}

.correctOption p {
  color: rgb(7, 247, 55);
  font-size: 15px;
  padding: 10px;
  font-weight: 600;
  flex: calc(100% - 75px);
  margin: auto 20px;
  transition: color .3s ease;
}


  .incorrectOption{
    background-color: #fff;
    border: 2px solid rgb(247, 7, 7);
    min-height: 30px;
    margin-right: 10px;
    margin-top: 10Px;
    width: 45%;
    display: flex;
    margin-bottom: 10px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
  }
   .incorrectOption span {
    background-color: rgb(247, 7, 7);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    flex: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
  }
  
  .incorrectOption p {
    color: rgb(247, 7, 7);
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    flex: calc(100% - 75px);
    margin: auto 20px;
    transition: color .3s ease;
  }
  @media(max-width:600px){
 
    .correctOption {
      width: 100%;
    }
    .incorrectOption {
      width: 100%;
    }
    .options {
      width: 100%;
    }
  
  }