@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
  box-sizing: border-box;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
  box-sizing: border-box;

}

.progressDone {
	background: linear-gradient(to left, #3b0b52, #9B59B0);
	box-shadow: 0 3px 3px -5px #9B59B0, 0 2px 5px #9B59B0;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
  box-sizing: border-box;
}