.quizes {
    max-width: 60rem;
    width: 100%;
    margin: 2px auto;
    animation: quizes-appear 1s ease-out forwards;
  }
  
  .quizes ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes quizes-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #616A94;
    border-bottom: 16px solid #616A94;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
  }
  .loader body{
    width: 100vh;
    height: 100vh;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .container{
    margin-top: 6rem;
    text-align: center;
  }
  .background{
      background-image: url("../Assets/bg.png");
      width: 100%;
      height: 100vh;
      position: fixed;
      background-position: center;
  }
  .backdrop{
    width: 100%;
    height: 100vh;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(1, 0.75, 0.75, 0.75);
  }
